<ion-view title="About" id="page19" style="background-color:#0D1317;">
  <ion-content padding="true" class="has-header">
    <form id="about-form21" class="list">
      <div class="spacer" style="width: 300px; height: 22px;"></div>
    </form>
    <div id="about-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#FFFDFD;">Phonit is an app created by Oscar S. Nieto R. and Adrian S. Volcinschi M. All rights reserved</p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div id="about-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Last update: 10/04/2019</p>
    </div>
    <div class="spacer" style="width: 300px; height: 51px;"></div>
    <div id="about-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">If you would like to support our further development feel free. Thank you!</p>
    </div>
    <button id="about-button20" class="button button-positive button-block icon-left ion-cash">PayPal</button>
  </ion-content>
</ion-view>