<ion-view title="Account" id="page9" style="background-color:#0D1317;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/nCUUq5ZlQcqVXYPYryRA_qf.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 21px;"></div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="account-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="account-slide25" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;background-color:#0D1317;">
        <ion-list id="account-list10">
          <ion-item id="account-list-item22">Andres</ion-item>
          <ion-item id="account-list-item23">32</ion-item>
          <ion-item id="account-list-item24">Teacher</ion-item>
        </ion-list>
      </ion-slide-page>
      <ion-slide-page id="account-slide24" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;background-color:#0D1317;">
        <ion-list id="account-list11">
          <ion-item class="item-thumbnail-left" id="account-list-item25">
            <img src="img/fPDBAF3kTQ6VH9HK24ez_cs.jpg">
            <h2>Michelle</h2>
            <p>My wife</p>
          </ion-item>
          <ion-item class="item-thumbnail-left" id="account-list-item26">
            <img src="img/G28aY3NTryeA6ElgGSzf_bsvr.jpg">
            <h2>Charlie</h2>
            <p>My son</p>
          </ion-item>
        </ion-list>
      </ion-slide-page>
      <ion-slide-page id="account-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;">
        <div class="spacer" style="width: 300px; height: 29px;"></div>
        <ion-list id="account-list14">
          <ion-item class="item-icon-left" id="account-list-item27">
            <i class="icon ion-headphone"></i>MSI Headset</ion-item>
          <ion-item class="item-icon-left" id="account-list-item30">
            <i class="icon ion-chatbubble-working"></i>Earpods</ion-item>
        </ion-list>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>