<ion-view title="Battery Consumption" id="page13" style="background-color:#0D1317;">
  <ion-content padding="true" class="has-header">
    <form id="batteryConsumption-form16" class="list">
      <div class="spacer" style="height: 40px;"></div>
      <div>
        <img src="img/7ZVpBMYOSoCFSrOLNWMI_xd.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 60px;"></div>
      <ion-item class="range range-dark" id="batteryConsumption-range1">Usage
        <input type="range" value="30" min="0" max="100" step="1">
      </ion-item>
    </form>
  </ion-content>
</ion-view>