<ion-view title="Cloud" id="page18" style="background-color:#0D1317;">
  <ion-content padding="true" class="has-header">
    <form id="cloud-form20" class="list">
      <div class="spacer" style="width: 300px; height: 22px;"></div>
      <label class="item item-select" id="cloud-select3">
        <span class="input-label">Backup interval</span>
        <select>
          <option>Every day</option>
          <option>Every week</option>
          <option>Every month</option>
          <option>Never</option>
        </select>
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div id="cloud-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#FFFDFD;">Last backup: 25/04/2019</p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <button id="cloud-button18" class="button button-positive button-block icon-left ion-android-cloud-circle">Backup now</button>
  </ion-content>
</ion-view>