<ion-view title="Create Contact" id="page15" style="background-color:#0D1317;">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div class="spacer" style="width: 300px; height: 29px;"></div>
    <form id="createContact-form14" class="list">
      <label class="item item-input" id="createContact-input6">
        <input type="text" placeholder="Name">
      </label>
    </form>
    <a ui-sref="favoriteContacts()" id="createContact-button16" class="button button-calm button-block button-clear">Add</a>
  </ion-content>
</ion-view>