<ion-view title="Favorites" id="page11" style="background-color:#0D1317;">
  <ion-content padding="true" class="has-header">
    <ion-list id="favorites-list15">
      <ion-item id="favorites-list-item39">Buenos días</ion-item>
      <ion-item id="favorites-list-item40">Buenas tardes</ion-item>
      <ion-item id="favorites-list-item41">Buenas noches</ion-item>
    </ion-list>
    <ion-list id="favorites-list17">
      <ion-item id="favorites-list-item45">¿Qué necesita?</ion-item>
      <ion-item id="favorites-list-item46">Soy sordomudo</ion-item>
      <ion-item id="favorites-list-item47">¿Puede repetir lo que dijo?</ion-item>
    </ion-list>
  </ion-content>
</ion-view>