<ion-view title="Favorite Contacts" id="page14" style="background-color:#0D1317;">
  <ion-content padding="true" class="has-header">
    <ion-list id="favoriteContacts-list19">
      <ion-item class="item-thumbnail-left" id="favoriteContacts-list-item37">
        <img src="img/LAHc7lZ7SJOUVjd2ar3T_cs.jpg">
        <h2>Michelle</h2>
        <p>My wife</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <ion-list id="favoriteContacts-list22">
      <ion-item class="item-thumbnail-left" id="favoriteContacts-list-item44">
        <img src="img/cG1PlHwTqy5wzEnd8d2w_bsvr.jpg">
        <h2>Charlie</h2>
        <p>My son</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 34px;"></div>
    <a ui-sref="createContact()" id="favoriteContacts-button15" class="button button-calm button-block button-clear">Add</a>
  </ion-content>
</ion-view>