<ion-view title="Hearing" id="page6" style="background-color:#0D1317;">
  <ion-content padding="true" class="has-header">
    <h2 id="hearing2-heading3" style="color:#41EAD4;font-weight:400;text-align:center;">Wife</h2>
    <div class="spacer" style="height: 40px;"></div>
    <ion-list id="hearing2-list12">
      <ion-item class="item-icon-right" id="hearing2-list-item28">Honey, please come downstairs
        <i class="icon ion-heart"></i>
      </ion-item>
      <ion-item id="hearing2-list-item29">Someone needs you at the door</ion-item>
    </ion-list>
    <div class="spacer" style="height: 40px;"></div>
    <a ui-sref="tabsController.speaking()" id="hearing2-button5" class="button button-calm button-block icon ion-speakerphone"></a>
    <a ui-sref="tabsController.hearing()" id="hearing2-button7" class="button button-assertive button-block icon ion-arrow-return-left"></a>
  </ion-content>
</ion-view>