<ion-view title="Login" id="page4" style="background-color:#0D1317;">
  <ion-content padding="true" class="has-header">
    <form id="login-form10" class="list">
      <h1 id="login-heading2" style="color:#41EAD4;text-align:center;">Phonit</h1>
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="tabsController.hearing()" id="login-button2" class="button button-royal button-block">Log in</a>
      <a ui-sref="signup()" id="login-button3" class="button button-royal button-block button-clear">Create an account</a>
      <a ui-sref="tabsController.hearing()" id="login-button11" class="button button-positive button-block icon-left ion-social-facebook">Log in with Facebook</a>
      <a ui-sref="tabsController.hearing()" id="login-button10" class="button button-assertive button-block icon-left ion-social-google">Log in with Google</a>
    </form>
  </ion-content>
</ion-view>