<ion-view title="Microphone" id="page17" style="background-color:#0D1317;">
  <ion-content padding="true" class="has-header">
    <form id="microphone-form18" class="list">
      <div class="spacer" style="width: 300px; height: 24px;"></div>
      <div>
        <img src="img/wFaMjXsdQO67dY4zdTCK_mryht.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 36px;"></div>
      <ion-item class="range range-dark" id="microphone-range2">Volume
        <input type="range" value="30" min="0" max="100" step="1">
      </ion-item>
    </form>
  </ion-content>
</ion-view>