<ion-view title="Settings" id="page10" style="background-color:#0D1317;">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 54px;"></div>
    <ion-list id="settings-list9">
      <ion-item class="item-icon-left" id="settings-list-item16" ui-sref="favoriteContacts()">
        <i class="icon ion-android-favorite"></i>Favorite Contacts</ion-item>
      <ion-item class="item-icon-left" id="settings-list-item12" ui-sref="batteryConsumption()">
        <i class="icon ion-flash"></i>Battery Consumption</ion-item>
      <ion-item class="item-icon-left" id="settings-list-item13" ui-sref="microphone()">
        <i class="icon ion-android-microphone"></i>Microphone</ion-item>
      <ion-item class="item-icon-left" id="settings-list-item15" ui-sref="cloud()">
        <i class="icon ion-android-cloud"></i>Cloud</ion-item>
      <ion-item class="item-icon-left" id="settings-list-item14" ui-sref="about()">
        <i class="icon ion-information-circled"></i>About</ion-item>
    </ion-list>
  </ion-content>
</ion-view>