<ion-view title="Speaking" id="page3" style="background-color:#0D1317;">
  <ion-content padding="true" class="has-header">
    <form id="speaking-form9" class="list">
      <a ui-sref="tabsController.favorites()" id="speaking-button12" style="font-weight:500;font-size:14px;text-align:left;" class="button button-calm icon-left ion-android-star">Favorites</a>
      <div class="spacer" style="height: 170px;"></div>
      <ion id="speaking-container1" class="creator-container"></ion>
      <label class="item item-input" id="speaking-input8">
        <input type="text" placeholder="Type here">
      </label>
    </form>
    <div class="spacer" style="height: 40px;"></div>
    <button id="speaking-button1" style="border-radius:1px 1px 1px 1px;" class="button button-calm button-large button-block button-outline icon-right ion-android-send">Send</button>
    <ion-app>
      <ion-icon name="add">
      </ion-icon>
    </ion-app>
  </ion-content>
</ion-view>